.line.svelte-11nl25q {
    animation: svelte-11nl25q-line 1s cubic-bezier(.9, .3, 0, 1)
}

.star.svelte-11nl25q {
    animation: svelte-11nl25q-star 1s cubic-bezier(.9, .3, 0, 1)
}

@keyframes svelte-11nl25q-line {
    0% {
        width: 0;
        opacity: 1
    }

    50% {
        width: 100%;
        transform: scaleX(1)
    }

    to {
        width: 100%;
        transform: scaleX(0);
        opacity: 0
    }
}

@keyframes svelte-11nl25q-star {
    0% {
        left: 0%;
        opacity: 1
    }

    50% {
        left: calc(100% - 2px)
    }

    to {
        left: calc(100% - 2px);
        opacity: 0
    }
}