@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --primary: #1D61FF;
    --secondary: #dbe4fe;
    --text-primary: #F4EBFF;
    --text-secondary: #667085;
    --badge-bg: #ECFDF3;
    --badge-text: #027A48;
    --white: #fff;
    --dropdown2-bg: #101012;
    --shadow: rgba(32, 7, 65, 0.14);
    --container2: 1600px;
    --nav-height: 7rem;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    font-style: normal;
}

body {
    font-size: 1.6rem;
}

.container2 {
    max-width: var(--container2);
    margin: 0 auto;
    padding: 0 1rem;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    position: relative;
    background: var(--dropdown2-bg);
    padding: 0px 30px 0px;
}

.nav2_list {
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    margin: 0 1.5rem;
}

.nav2_action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav2_link,
.btn2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-primary);
}

.btn2-primary {
    display: inline-flex;
    color: var(--white);
    background: var(--primary);
    font-weight: 500;
    padding: 0.6rem 1.5rem;
    border-radius: 1.5rem;
}

.nav2_toggle {
    cursor: pointer;
    display: none;
}

.nav2_toggle ion-icon {
    font-size: 3.5rem;
    color: var(--text-primary);
}

.dropdown2 {
    position: absolute;
    top: var(--nav-height);
    left: 0px;
    width: 100%;
    background: var(--dropdown2-bg);
    box-shadow: 0rem 0.2rem 0.5rem var(--shadow);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.5s ease-in;
    z-index: 10000;
}

.dropdown2-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding: 2rem;
    padding-left: 120px;
}

.nav2_list_menu:hover ion-icon {
    transition: all 0.5s ease-in;
    transform: rotate(180deg);
}

.nav2_list_menu:hover .dropdown2 {
    clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}

.item2-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
}

.item2-list-info h4 {
    font-size: 15px;
}

.item2-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
}

.item2-list-info {
    position: relative;
    width: 100%;
}

.info2-badge {
    position: absolute;
    right: 1rem;
    top: 0;
    background: var(--badge-bg);
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    color: var(--badge-text);
}

@media (max-width:730px) {
    .nav2_toggle {
        display: block;
    }
    .nav2_menu {
        position: absolute;
        top: var(--nav-height);
        left: 0;
        width: 100%;
        background: var(--dropdown2-bg);
        display: none;
    }
    .nav2_menu.active {
        display: block;
    }
    .nav2_list {
        display: block;
        margin: 2rem 0;
        text-align: center;
    }
    .nav2_link {
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
    }
    .dropdown2 {
        top: 0;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        box-shadow: none;
        height: 0;
        text-align: start;
        transition: all 0.5s ease-in;
        z-index: 100000;
    }
    .nav2_list_menu:hover .dropdown2 {
        height: 100%;
        transition: all 0.5s ease-in;
    }
}

@media (max-width:365px) {
    .logo2-img {
        width: 10rem;
    }
    .btn2,
    .btn2-primary {
        padding: 0.4rem 1rem;
    }
}